@charset "UTF-8";

body {
    width: 1350px;
    background-color: rgb(167, 166, 166);
    color: rgba(0, 0, 0, 1);
    font-family: Verdana, Geneva, Tahoma, Montesserrat;
    box-shadow: 10px 1px 1px black;
}

body h2 {
    background-color: #ddd;
    color: #606060;
    font-size: 18pt;
    padding: 5px 0px 5px 0px;
    margin: 10px;
    text-align: left;
}

.secundary {
    background-color: white;
    font-weight: bolder;
    font-size: 21pt;
}

.thirdary {
    color: #888;
    background-color: white;
}

div {
    background-color: white;
    width: 1245px;
    margin: 0 auto; /* Centraliza a div */
    margin-top: -20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0,.3);
    padding: 10px;
    height: 1900px;
}

p {
    text-align: justify;
    text-indent: 50px;
}

header img {
    position: absolute;
    top: 50px;
    left: 1050px;
}

header {
    border-bottom: 1px lightblue solid;
    width: 100%;
    height: 234px;
    background: url("glass-logo-peq.jpg") no-repeat 0px 150px; 
}

header h1 {
    font-family: "Madimi One", sans-serif;
    color: midnightblue;
    text-shadow: 1px 1px 1px rgba(0, 0, 0,.5);
    font-size: 45pt;
    padding: 0px;
    height: 80px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-top: 5px;
}

header h2 {
    color: #888888;
    font-size: 20pt;
    margin-top: -15px;
    padding: 0px;
}
    
/* Formatação de Imagens com legendas */

figure.foto-legenda {
    position: relative;
    border: 8px solid white;
    box-shadow: 2px 2px 5px black;
}

figure.foto-legenda img {
    width: 100%;
    height: 100%;
}

figure.foto-legenda figcaption {
    opacity: 0;
    position: absolute;
    top: 5px;
    background-color: rgba(0,0,0,.2);
    color: white;
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    transition: opacity 0.5s;
}

figure.foto-legenda:hover figcaption {
    opacity: 1;
}


/* Formatação de Menu */

nav {
    display: block;
}

nav ul {
    list-style: none;
    text-transform: uppercase;
    position: absolute;
    top: -43px;
    left: 460px;
    
}

nav li {
    display: inline-block;
    background-color: #dddddd;
    padding: 10px;
    margin: 25px;

}

nav li :hover {
    background-color: #606060;
    transition: 0.5s;
}

nav h1 {
    display: none;
}

nav a {
    text-decoration: none;
    color: black;
}

nav a:hover {
    color: beige;
}

footer {
    text-align: center;
    margin-top: 30px;
    clear: both;
}

section {
    width: 700px;
    float: left;
}


table {
    border: 3px solid #606060;
    border-spacing: 0px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10px;
    

}

table td {
    border: 1px dashed #606060;
    padding: 10px;
    text-align: center;
    vertical-align: middle; 
}

table td.ce {
    color:white;
    background-color: midnightblue;
    vertical-align: top;
    font-weight: bold;
}

table td.cd {
    background-color: #cecece;

}

table caption {
    color: #888;
    font-size: 12pt;
    font-weight: bolder;
    margin-bottom: 5px;
}

table caption span {
    color: black;
    display: block;
    font-weight: 7pt;
    float: right;
    margin-left: 10px;
    margin-bottom: 5px;
}

aside {
    width: 470px;
    float: right;
    margin-right: 10px;
    background-color: #ddd;
    padding: 20px;
    box-shadow: 2px 2px 5px black;
} 

.tv-radio {
    width: 800px;    
    box-shadow: none;
}

.formulario {
    display: flex;
    flex-direction: column;
    box-shadow: none;
    width: 1230px;   
}

.botao_form {
    margin-top: 25px;
    margin-left: 245px;
    width: 170px;
    height: 50px;
    background-color: rgb(109, 106, 106);
    color: white;
    border-radius: 7px;
    border: none;
}

form {
    display: block;
    position: relative;
    top: 10px;
    width: 650px;
    margin: auto;
}

input, textarea {
    font-family: sans-serif;
    font-weight: normal;
    font-size: 13pt;
    background-color: rgba(255, 255, 255,.7);
    border: 0.5px solid #cecece;
}

input:hover, textarea:hover {
    background-color: #eeeaea;
}

legend {
    color: #888;
    font-weight: bold;
    font-size: 13pt;
    font-family: sans-serif;
}

fieldset {
    border-color: #cecece;
    margin: 20px;
    border-radius: 3px;
}

fieldset#sexo {
    width: 265px;
}

fieldset#usuario {
    background: url("icone-contato.png") no-repeat 97% 97%;
}

fieldset#endereco {
    background: url("icone-endereco.png") no-repeat 97% 97%;
}

fieldset#mensagem {
    background: url("icone-mensagem.png") no-repeat 97% 97%;
}

fieldset#pedido {
    background: url("icone-pagamento.png") no-repeat 97% 97%;
}